In [125]:
import numpy as np
import pandas as pd
from iexfinance.stocks import Stock
from datetime import datetime
import matplotlib.pyplot as plt
from iexfinance.stocks import get_historical_data
from pandas_datareader import data as wb

In [126]:
#os.environ['IEX_API_VERSION'] = 'iexcloud-sandbox'
os.environ["IEX_API_KEY"] = "pk_bf581313f59a4837adb266d399714989"

In [127]:
PG = wb.DataReader('PG', data_source = 'iex', start ='2019-01-01') # IEX does not provide data for more than 5 years prior to the date in which we execute the code.

In [128]:
PG

              open    high     low   close    volume
date
2019-01-02   91.03   91.39   89.93   91.28   9843939
2019-01-03   90.94   92.50   90.38   90.64   9820374
2019-01-04   90.84   92.49   90.37   92.49  10565749
2019-01-07   91.91   92.50   91.40   92.12   9012540
2019-01-08   92.70   93.09   91.82   92.46   9551291
...            ...     ...     ...     ...       ...
2020-03-23  100.19  103.75   94.34   97.70  17776754
2020-03-24  101.23  104.00   96.07  103.27  14625482
2020-03-25  100.51  104.70   98.60  100.92  13789142
2020-03-26  103.88  108.31  102.53  107.38  15799423
2020-03-27  106.49  114.29  106.49  110.17  16073062

[312 rows x 5 columns]

In [129]:
tickers = ['PG','MSFT','T','F','GE'] # PG- Procter and Gamble, MSFT - Microsoft, T - AT and T, F - Ford, GE- General Electric.

In [130]:
new_data = pd.DataFrame()

In [131]:
for t in tickers :
    new_data[t] = wb.DataReader(t, data_source = 'iex', start = '2019-1-1')['close']

In [132]:
new_data.tail()

                PG    MSFT      T     F    GE
date
2020-03-23   97.70  135.98  26.77  4.01  6.11
2020-03-24  103.27  148.34  28.09  4.95  7.01
2020-03-25  100.92  146.92  28.40  5.39  7.56
2020-03-26  107.38  156.11  30.60  5.25  8.12
2020-03-27  110.17  149.70  29.84  5.19  7.62